/ 18 lines 6 code 11 comments 1 blank
%section.container
  %h1 header
  %h2 sub header

  .content
  -# Haml silent comment
  /
    multi
    line
    comment
  = 3 + 2
  / comment requires
  indentation
  -# multi
    line
    silent
    comment
