/* 14 lines 6 code 5 comments 3 blanks */

.foo {
  color: #f00;

  &.bar {
    background: url("foobar.jpg");
  }
}

// inline comments are allowed by some PostCSS syntaxes
/*
 * block comments are standard
 */
