//- 13 lines, 8 code, 3 comments, 2 blanks

doctype html
// this comment will be translated to an HTML comment
//- this comment will be excluded from the generated HTML

html
  head
    title Hello, World!
  body
    p
      | Hello,
      | World!
