// 20 lines, 10 code, 5 comments, 5 blanks

/*
 * Multi-line comment
 */

// Single-line comment

#app
  position: absolute
  left: 0
  top: 0

  .item::before
    content: "Stylus"
    color: orange
    background-color: white

  .item::after
    content: 'Lang'
